  /* タイトル */
  .follow-title {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
  }

  .follow-icon-area {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;

    padding: 15px 0 25px;
    padding-left: 140px;

    border-bottom: 3px solid #ccc;
    margin-bottom: 20px;

    max-width: 100%;
    box-sizing: border-box;

    overflow-x: auto;
  }

  .follow-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ccc;
    transition: transform 0.2s;
    flex-shrink: 0;
  }

  .follow-icon:hover {
    transform: scale(1.05);
  }

  /* 投稿一覧ラッパー */
  .post-list-wrapper {
    width: 100%;
    box-sizing: border-box;
  }

  /* 投稿1件 */
  .post-item {
    display: flex;
    align-items: flex-start;
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;

    /* 横はみ出し防止 */
    max-width: 100%;
    box-sizing: border-box;

    /* 投稿日時 */
    position: relative;
  }

  /* ユーザーアイコン */
  .post-user-icon {
    margin-right: 15px;
    flex-shrink: 0;

    margin-left: 80px;
  }

  .post-user-icon img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }

  /* 投稿内容 */
  .post-content {
    flex: 1;
    min-width: 0;

    padding-right: 80px;
  }

  .post-username {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .post-text {
    color: #333;
    line-height: 1.5;

    word-break: break-word;
  }

  /* 右側：投稿日*/
  .post-right {
    position: absolute;
    top: 15px;

    right: 20px;

    white-space: nowrap;
  }

  .post-date {
    font-size: 12px;
    color: #888;
  }
