/* 検索ページ 全体 */
.search-wrapper {
  width: 100%;
  padding: 40px 0 0;
}

/* 検索フォーム（左寄せ） */
.search-form {
  width: 900px;
  margin-left: 40px;
  padding-bottom: 25px;
}

.search-form form {
  display: flex;
  align-items: center;
  gap: 18px;
  width: 100%;
}

/* ユーザー名入力欄 */
.search-form input {
  width: 300px;
  height: 48px;
  padding: 10px 18px;
  border: 1px solid #ccc;
  font-size: 16px;
}

/* 検索ボタン */
.search-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.search-btn img {
  width: 44px;
}

/* 検索ワード表示 */
.search-word {
  font-size: 16px;
  font-weight: 400;

  margin-left: auto;

  padding-left: 30px;

  display: flex;
  align-items: center;
  height: 44px;
  white-space: nowrap;
}

/* 区切り線 */
.search-line {
  width: 100%;
  height: 6px;
  background: #e5e5e5;
}

/* 検索結果（中央寄せ） */
.search-result {
  width: 600px;
  margin: 40px auto 0;
}

/* 1ユーザー行 */
.user-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}

/* 左側（アイコン,名前） */
.user-info {
  display: flex;
  align-items: center;
  gap: 25px;
}

.user-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user-info span {
  font-size: 16px;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ボタンエリア */
.follow-btn-area {
  width: 150px;
  text-align: right;
}

.follow-btn-area button {
  width: 130px;
  padding: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
}

/* フォローする */
.follow-btn {
  background-color: #1768c4;
}

/* フォロー解除 */
.unfollow-btn {
  background-color: #e74c3c;
}
