@charset "utf-8";

/* サイドバー全体 */
.side-bar {
  width: 300px;
  min-width: 300px;
  /* ← 追加（flex潰れ防止） */
  border-left: 2px solid #999999;
  background: #ffffff;
  padding: 40px 25px;
  box-sizing: border-box;
  /* ← 追加（paddingで幅崩れ防止） */
}

/* 追加：○○さんの  */
.user-sidebar-title {
  font-size: 14px;
  color: #444;
  margin-bottom: 20px;
}

/* 各ブロック */
.follow-block {
  margin-bottom: 35px;
}

/* フォロー行 */
.follow-row {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  font-size: 14px;
  color: #444;
}

/* ●●人 */
.count {
  margin-left: auto;
  margin-right: 100px;
}

/* 区切り線 */
.under-line {
  height: 2px;
  background: #cccccc;
  ;
  margin: 35px -25px;
}

/* ボタン */
.list-btn {
  display: block;
  width: 150px;
  padding: 9px 0;
  background: #1768c4;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.2s;
}

/* フォロー・フォロワーは右寄せ */
.right-btn {
  margin-left: auto;
}

/* ユーザー検索は中央寄せ */
.center-btn {
  margin: 0 auto;
}

/* ホバー */
.list-btn:hover {
  background: #145aa8;
}
